<ion-header>
  <style>
   


#h{top:10px;
}
.coupon {
  border: 5px solid #bbb;
  width: 80%;
  border-radius: 15px;
  margin: 0 auto;
  max-width: 600px;
}

.container {
  padding: 2px 16px;
  background-color: #f1f1f1;
}

.promo {
  background: #ccc;
  padding: 3px;
}

.expire {
  color: red;
}
  </style>
</ion-header>
   

<ion-content>
  <div id="h">
    
 <ion-icon style="font-size: 190%; float:left;" color="dark" (click)="toCam()" name="arrow-back"></ion-icon>
    <h1  style="padding-left:30%;">Discounts</h1></div>
    <div id="ddd">


</div>
    

  
  
</ion-content>
